﻿<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Журнал
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div id="apartmentListArea" class="row">
            <!-- Left col -->
            <section class="col-lg-12 connectedSortable">
                <!-- TO DO List -->
                <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2">
                                <input v-model="filter.EmployeeContains" type="text" class="form-control" placeholder="Фильтр по сотруднику">
                            </div>
                            <div class="col-md-2">
                                <input v-model="filter.PositionContains" type="text" class="form-control" placeholder="Фильтр по должности">
                            </div>
                            <div class="col-md-2">
                                <input v-model="filter.DurationContains" type="text" class="form-control" placeholder="Фильтр по времени">
                            </div>
                            <div class="col-md-2">
                                <input v-model="filter.ReasonContains" type="text" class="form-control" placeholder="Фильтр по причине">
                            </div>
                            
                            <div class="col-md-2">
                                <input id="datepickerStart" v-model="filter.Start" class="form-control" placeholder="С">
                            </div>
                            <div class="col-md-2">
                                <input id="datepickerEnd" v-model="filter.End" class="form-control" placeholder="По">
                            </div>
                            <div class="col-md-2">
                                    <button v-on:click="get()" type="button" class="btn btn-default inline">Фильтр</button>
                                </div>


                            </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">№</th>
                                            <th scope="col">Сотрудник</th>
                                            <th scope="col">Должность</th>
                                            <th scope="col">Дата</th>
                                            <th scope="col">Время, мин</th>
                                            <th scope="col">Причина</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(absence, index) in absences">
                                            <td>{{index+1}}</td>
                                            <td>{{absence.LastName}} {{absence.FirstName}} {{absence.MiddleName}}</td>
                                            <td>{{absence.Position}}</td>
                                            <td>{{new Date(parseInt(absence.Date.replace("/Date(", "").replace(")/",""), 10)).toLocaleDateString()}}</td>
                                            <td>{{absence.Duration}}</td>
                                            <td>{{absence.Reason}}</td>
                                            <td class="pull-right">
                                                <button v-on:click="showUpdateAbsence(absence)" type="button" class="btn btn-default inline">Редактировать</button>
                                                <button v-on:click="del(absence.Id)" type="button" class="btn btn-danger inline">Удалить</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix no-border">
                        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#addAbsenceModal" id="showAddAbsence"><i class="fa fa-plus"></i> Добавить</button>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- Modal add absence-->
            <div class="modal fade" id="addAbsenceModal" tabindex="-1" role="dialog" aria-labelledby="addAbsenceModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addAbsenceModalLabel">Добавить новую запись</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="absenceDate" class="col-form-label">Дата:</label>
                                    <input id="absenceDate" v-model="newAbsence.Date" class="form-control" placeholder="С" >
                                </div>
                                <label for="employees" class="col-form-label">Сотрудник:</label>
                                <select class="form-control" id="employees" v-model="newAbsence.EmployeeId">
                                    <option v-for="employee in employees" v-bind:value="employee.Id">
                                        {{ employee.LastName }} {{ employee.FirstName }} {{ employee.MiddleName }}
                                    </option>
                                </select>
                                <label for="positions" class="col-form-label">Должность:</label>
                                                                                                <select class="form-control" id="positions" v-model="newAbsence.PositionId">
                                                                                                    <option v-for="position in positions" v-bind:value="position.Id">
                                                                                                        {{ position.Name }}
                                                                                                    </option>
                                                                                                </select>
                                <div class="form-group">
                                    <label for="absenceDuration" class="col-form-label">Продолжительность:</label>
                                    <input v-model="newAbsence.Duration" type="number" min="1" step="1" class="form-control" id="absenceDuration">
                                </div>
                                <div class="form-group">
                                    <label for="absenceReason" class="col-form-label">Причина:</label>
                                    <input v-model="newAbsence.Reason" type="text" class="form-control" id="absenceReason">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button v-on:click="add" type="button" class="btn btn-primary" id="addNewAbsence">Добавить</button>
                            <button v-on:click="update" type="button" class="btn btn-primary" id="updateAbsence">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts
{
    <script src="~/Scripts/app/apartment/apartmentPageApp.js"></script>
}
@section documentReady
{
    apartmentPageApp.init();
}